/* styles CSS Document */
* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size  :12pt; }

    body {
    	font-family: Tahoma, Geneva, sans-serif;
    	font-size: 10pt;
    	color: #333;
    }    
    

    #results {
      width: 1024px;
      margin: 20px auto;
      padding: 20px;
      background-color: grey;
      border-radius: 8px;
      font-family: Helvetica, Verdana, Arial, sans-serif; 
      float:auto;
               
    }

    .result {
      background-color: whitesmoke;
      font-size: 0.84em;      
      padding: 3px 10px;
      margin: 3px 0;
      border-radius: 8px;
      
    }

    #commands {
      margin: 30px 0 0 0;
      padding: 5px 15px;
      background-color: white;
      text-align: right;
      border-radius: 8px;
    }
    
    
    
      #container {
      width: 640px;
      margin: 25px auto;
      padding: 25px;
      background-color: darkgray;
      border-radius: 9px;
      box-shadow: 15px 15px 10pc #444;
      font-family: Helvetica, Verdana, Arial, sans-serif; 
      
           
    }

    


    .center { text-align: center;
              background-color: black;
              color: white}
    .right { text-align: right;}

    h2 {
      font-size: 1.4em;
      border-radius: 6px;
      background-color: lightgray;
      margin: 0;
      padding: 5px 15px;
    }
    
    span {
    margin: 0 6px;
        
    }

    span:first-of-type{
    margin-left: 6;
    }

    span:last-of-type{
    margin-right: 0;
    float:right;
    }
    
    span.main-coloumn {
    display: inline-block; width: 450px;
    }